<h1>Ön sikeresen megváltoztatta jelszavát!</h1>

<p>Ön az iparoslap.hu oldalon keresztül sikeresen megváltoztatta
a belépéshez szükséges jelszavát. A belépéshez kérem gondosan 
olvassa el tájékoztatónkat és kövesse tanácsainkat!</p>

<p>Az Ön azonosítója: <strong>{this>username}</strong><br/>
Az Ön jelszava: <strong>{this>newpassword}</strong></p>

<p>A fenti adatokkal Ön már be tud lépni az iparoslap.hu webáruházába.
Amennyiben ez mégsem sikerülne, úgy kérem keresse meg munkatársainkat.</p>

<p>FIGYELEM! Egyes e-mail kliensek és weboldalak esetében előfordulhat, 
hogy a fenti jelszavának kijelölésekor a program a jelszóhoz hozzáfűz
egy felesleges szóközt. Ez jól látszik a kiválasztás során, így kérem
figyeljen rá. A plusz szóköz miatt Ön esetleg az új jelszavával sem
tud bejelentkezni.</p>

<p>Belépés után az legyen az első dolga, hogy jelszavát egy könyebben
megjegyezhetőre cseréli. Ehhez kattintson az iparoslap.hu oldal jobb
felső sarkában levő Személyes adatok ugrópontra, és a megjelenő 
űrlapon állítsa át jelszavát. Saját biztonsága érdekében a jelszó
legyen legalább 6 karakter, és javasolt hogy tartalmazzon egyszerre
kis- és nagybetűket, illetve számot is.</p>

<p>Nem Ön kezdeményezte jelszavának cseréjét? Kérem tartsa biztonságban
az iparoslap.hu webáruház használatához szükséges adatait, hogy ezt
legközelebb elkerülhesse.</p>