<div style="border:1px solid #ccc;background:#eee;color:#333;margin:10px;padding:0 10px;font-size:10pt;font-family:sans-serif;">
	<p style="margin:10px 0;"><strong>Új kommentárt füztek a képedhez: {this>title}</strong></p>
	<p><b>{this>comment_user_name}</b> az alábbi kommentárt írta: <em>{this>comment}</em></p>
	<p>A komentárt megnézheted a mini-world.hu oldalon is, ha az alábbi hivatkozásra
	kattintasz:<br/><a href="{this>url}" style="color:#f60;text-decoration:none;">{this>url}</a></p>
</div>