<div class="artist">
	<p><label>Név:</label> {this>fullname}</p>
	<p><label>Becenév:</label> {this>username}</p>
	<p><label>Város:</label> {this>address}</p>
	<p><label>Képeinek száma:</label> {this>image_nums} {this>image_nums_percent}</p>
	<p><label>Rang:</label> {this>rank} festő (átlag {this>rate} csillag)</p>
	<p><label>Összes kommentár a képeire:</label> {this>image_comment_nums} {this>image_comment_nums_percent}</p>
	<p><label>Összes értékelés a képeire:</label> {this>image_rate_nums} {this>image_rate_nums_percent}</p>
	<p><label>Kommentárjainak száma:</label> {this>comment_nums} {this>comment_nums_percent}</p>
	<p><label>Értékeléseinek száma:</label> {this>rate_nums} {this>rate_nums_percent}</p>
</div>
