<!-- MODUL:USER_REGISTRATION BEGIN (user_registration.html) -->
<div class="page">

	<h1>Sikeres regisztrálás</h1>
	
	<div class="description">
	
		<p><strong>Gratulálunk, Ön sikeresen regisztrált!</strong></p>
		
		<p>FONTOS! Kérem olvassa el az alábbi tanácsokat, teendőket!</p>
		
		<p>Regisztrációjáról e-mailben is értesítettük, így erősítve meg
		annak sikerességét. Ha a következő 24 órában nem kapta meg levelünket,
		kérem vegye fel a kapcsolatot ügyfélszolgálatunkkal!</p>
		
		<p>Regisztrációja után azonnal be is léphet, válogathat és rendelhet is.</p>
		
		<p>Ha Ön viszonteladóként regisztrált, akkor munkatársaink hamarosan
		felveszik Önnel a kapcsolatot, hogy egyeztessék a részleteket. Az egyeztetésig
		nem tud belépni, utána azonban az összes lehetőség Ön előtt áll.</p>
		
		<p>Ha bármilyen adatváltozás történik - megváltozik a telefonszáma, e-mail
		címe, stb. -, akkor belpés után a jobb felső sarokban található Személyes
		adatokra kattinva módosíthat bármit. Itt állíthat be magának új jelszót is.<p>
		
		<p>A jelszavak választásánál azt javasoljuk, hogy biztonsági okokból
		jelszava tartalmazzon legalább egy számjegyet, kis- és nagybetűket
		vegyesen. Jelszavának hossza legyen legalább 8 karakter. Ha több számítógépen
		is szeretné használni az iparoslap.hu oldalt, vagy a saját gépén is
		többféle billentyűzet kiosztás van engedélyezve, akkor kerülje azokat
		a karaktereket, amelyek eltérhetnek az egyes nemzeti klaviatúrákon
		(jellemzően ilyen a Z és Y, valamint az ékezetes betűk).<p>
		
		<p>Köszönjük, hogy megfogadja tanácsainkat.</p>
		
	</div>

</div>
<!-- MODUL:USER_REGISTRATION END -->