<!-- MODUL:USER_REGISTRATION BEGIN (user_registration.html) -->
<h1>Regisztrálás</h1>
<div class="description">
	<p>Ha már regisztráltál nálunk, akkor egyszerűen jelentkezz be a
	bal oldali űrlapon keresztül. Ha elfelejtetted a jelszavadat vagy
	az azonosítódat, akkor lépj át az elfelejtett jelszó űrlapra.
	Amennyiben ezek egyike sem segít, egyszerűen hívd fel kollegánkat,
	aki segít neked miként tudsz belépni.</p>
	<h3>Azonosítás</h3>
	<div class="user_registration_form">
		<label>Azonosító:</label>
		<input type="text" />
		<span class="compulsory">Kötelező</span>
	</div>
	<div class="user_registration_form">
		<label>E-mail címed:</label>
		<input type="text" />
		<span class="compulsory">Kötelező</span>
	</div>
	<div class="user_registration_form">
		<label>Vezetékneved:</label>
		<input type="text" />
		<span class="compulsory">Kötelező</span>
	</div>
	<div class="user_registration_form">
		<label>Keresztneved:</label>
		<input type="text" />
		<span class="compulsory">Kötelező</span>
	</div>
	<div class="user_registration_form">
		<label>Nemed:</label>
		<input type="radio" /><label>Férfi</label>
		<input type="radio" /><label>Nő</label>
		<input type="radio" /><label>Cég</label>
		<span class="compulsory">Kötelező</span>
	</div>
	<h3>Jelszó</h3>
	    <div class="user_registration_form">
		<label>Jelszavad:</label>
		<input type="password" />
		<span class="compulsory">Kötelező</span>
	</div>
	<div class="user_registration_form">
		<label>Ismétlés:</label>
		<input type="password" />
		<span class="compulsory">Kötelező</span>
	</div>
	<h3>Elérhetőség</h3>
	    <div class="user_registration_form">
		<label>Telefon:</label>
		<input type="text" />
	</div>
	<div class="user_registration_form">
		<label>Fax:</label>
		<input type="text" />
	</div>
	<h3>Beállítások</h3>
	<div class="user_registration_form">
		<label></label>
		<input type="checkbox" />
		<label>Kérek hírlevelet az újdonságokról</label>
	</div>
</div>
<!-- MODUL:USER_REGISTRATION END -->